<% flash[:errors]&.each do |message| %>
<div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
  <div class="toast" style="position: absolute; top: 0; right: 0;">
    <div class="toast-body">
      <%= message %>
    </div>
  </div>
</div>
<% end %>


<script>
 $(document).ready(function() {
    $(".toast").toast('show');
  });
</script>